@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-br from-green-100 via-yellow-50 to-orange-100;
  }
}

select option {
  @apply bg-white text-gray-800;
}
